<% content_for :title, "Financial Plan" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
      <div class="row d-flex align-items-center h-100">
          <div class="col-md-12 text-center">
              <h2 class="h1 font-weight-bold">Financial Plan</h2>
              <nav class="mt-15" aria-label="breadcrumb">
                  <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
                      <li class="breadcrumb-item"><%= link_to "Financial Plans", enterprise_financial_plans_path, class: "text-black-300" %></li>
                      <li class="breadcrumb-item text-primary" aria-current="page">Financial Plan</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-collapse">
					<thead>
						<tr>
							<th>Item</th>
							<th>Unit</th>
							<th>Baseline</th>
							<th>Year 1</th>
							<th>Year 2</th>
							<th>Year 3</th>
							<th>Year 4</th>
							<th>Year 5</th>
						</tr>
					</thead>
					<tbody id="handlebarsFundTable"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script id="fundTableTemplate" type="text/x-handlebars-template">
	{{#each funds}}
		<tr class="collapse-control collapsed" data-toggle="collapse" data-target="#collaspe{{code}}" aria-expanded="false">
			<td><a href="#">{{name}}</a></td>
			<td>{{code}}</td>
			<td>{{series}}</td>
			<td>{{assetClass}}</td>
			<td>{{risk}}</td>
			<td>{{mer}}</td>
		</tr>
		<tr>
			<td colspan="6" class="collapse-td">
				<div class="collapse-content collapse" id="collaspe{{code}}">
					<span class="header-6">Investment objective</span>
					<p>{{objective}}</p>
				</div>
			</td>
		</tr>
	{{/each}}
</script>

<style>
/* @import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400';
$primary-color: #314a9c;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint: lighten( $primary-color, 50% );
$secondary-color: #f6414a;
$primary-font: "Roboto Condensed", sans-serif;
$black: #444;
$white: #fff;
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px; */


* { box-sizing: border-box; }
/* body {
	background-color: $primary-color;
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.875em;
} */
/* .container {
	margin-top: 50px;
	box-shadow: 10px 10px 0 $primary-color-dark;
	background-color: $white;
} */

// unimportant styles
a {
	border-bottom: 1px dotted;
	color: $primary-color;
	&:hover {
		border-bottom: 1px solid;
		text-decoration: none;
		color: $primary-color-dark;
	}
}
.header-6 {
	display: block;
	font-weight: 400;
}
.table {
	line-height: 1.625em;
	thead {
		th {
			border-top: 0;
			border-color: $secondary-color;
			font-weight: 400;
		}
	}
	tbody {
		th,
		td {
			border-top-color: $primary-color-tint;
		}
	}
	th, td {
		&:not(:first-child) {
			text-align: right;
		}
	}
}
@media (max-width: $sm - 1) {
	.table-responsive {
		margin: 15px 0;
		border: solid 1px $primary-color-tint;
		.table {
			min-width: 700px;
		}
	}
}


// the good stuff

.table-collapse {
	
	.collapse-control {
		cursor: pointer;
		transition: 0.2s;
		
		&:not(.collapsed),
		&:hover {
			background-color: $primary-color-tint;
			td {
				border-top-color: $white;
			}
		}
		
		td {
			&:first-child {
				position: relative;
				padding-left: 2.25em;
				
				&::before {
					content: '👆';
					position: absolute;
					left: 0.75em;
					transition: 0.35s;
				}
			}
		}
		
		&.collapsed {
			td {
				&:first-child {
					&::before {
						transform: rotateX(180deg);
					}
				}
			}
		}
	}
	
	.collapse-td {
		padding-top: 0;
		padding-bottom: 0;
		border-top: 0;
		background-color: $primary-color-tint;
	}
}
</style>
