<h1>Editing Business Plan</h1>

<%= render 'form', business_plan: @business_plan %>

<%= link_to 'Show', [@enterprise, @business_plan] %> |
<%= link_to 'Back', enterprise_business_plans_path(@enterprise) %>
