<% content_for :title, "Career" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Career</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Career</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>

<!-- start of career-section -->
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-5 col-md-8 col-sm-10 mb-5 mb-lg-0">
                <h2 class="section-title">Work with us <br><strong>help shape the future</strong></h2>
                <p class="mb-30">We're seeking people who are as excited about Brainstaq as we are to help 
                make ideas come alive, and projects sustainable. 
                We think you would be great at this if you are comfortable working in a competitive 
                environment that is at the same time highly collaborative, and are excited 
                about contributing to our mission.</p>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10">
                <div class="d-inline-block has-shadow shadow-right has-shapes">
                    <%= image_tag "hiring.jpg", class: "img-fluid rounded-sm" %>

                    <div class="shape-1 shape-md bg-secondary rounded-circle"></div>
                    <div class="shape-2 shape-xl bg-tertiary rounded-circle"></div>
                    <div class="shape-3 shape-lg bg-primary rounded-circle"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of career-section -->

<!-- start of horizontal-accordion -->
<section class="section-padding pt-100 horizontal-accordion bg-light-gray has-shapes has-bg-brash bg-brash-y">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <h2 class="section-title">Discover your next move <br><strong>work from anywhere</strong></h2>
                <p>We are a fully remote team! We believe in empowering our employees and offering numerous 
                opportunities for professional growth.</p>
            </div>
        </div>
        <div class="has-colored-text row justify-content-center">
            <div class="col-md-5 col-sm-6 mb-30">
                <div class="bg-white shadow rounded p-30" data-aos="fade-up" data-aos-delay="50">
                    <div class="d-flex justify-content-between mb-2 mb-lg-3">
                        <h5 class="text-black-500">ONE</h5>
                        <div class="has-text-color h2">
                            <i class="fas fa-bullseye"></i>
                        </div>
                    </div>
                    <h3 class="mb-2 mb-lg-4 font-weight-600">The Mission</h3>
                    <div class="accordion-panel">
                        <p>Brainstaq is on a mission to help entrepreneurs start, nurture and grow 
                        sustainable businesses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 mb-30">
                <div class="bg-white shadow rounded p-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="d-flex justify-content-between mb-2 mb-lg-3">
                        <h5 class="text-black-500">TWO</h5>
                        <div class="has-text-color h2">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                    </div>
                    <h3 class="mb-2 mb-lg-4 font-weight-600">Value Proposition</h3>
                    <div class="accordion-panel">
                        <p>Identify opportunities, build and grow an enterprise sustainably with minimal effort.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
    <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
    <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
    <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
    <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
    <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</section>
<!-- end of horizontal-accordion -->

<!-- start of benifits section -->
<section class="section-padding pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40" data-aos="fade-in">
                <h2 class="section-title">Why Join <strong>Brainstaq?</strong></h2>
                <p>We are committed to providing the most exciting experiences, 
                both on and off work - fun, self development and giving back.</p>
            </div>
        </div>
        <div class="has-colored-text row">
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up">
                    <div class="has-text-color h2">
                        <i class="fas fa-money-bill"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Employee Share <br>Option Plan</h5>
                    <p>As a first-line employee, hit the anticipated two-year milestone and you'll have the option to own some 
                    of Brainstaq's shares </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="has-text-color h2">
                        <i class="fas fa-person-booth"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Enhanced Parental <br>and Family Leave</h5>
                    <p>Three months full-pay parental leave, plus reduced working hours on 
                    family leave days. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up" data-aos-delay="150">
                    <div class="has-text-color h2">
                        <i class="fas fa-rocket"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Career  <br>Acceleration</h5>
                    <p>We’ll work with you on driving your development and helping you hit your next milestone. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up">
                    <div class="has-text-color h2">
                        <i class="fas fa-calendar-day"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Volunteer  <br>Days</h5>
                    <p>We occassionally give back, and help out with community and charity projects 
                    that you care about. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="has-text-color h2">
                        <i class="fas fa-hamburger"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Lunch and <br>Learn Sessions</h5>
                    <p>We provide a variety of learning opportunities, trainings, 
                    as well as mentorship programs. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text-center p-0 p-md-2 mb-30" data-aos="fade-up" data-aos-delay="150">
                    <div class="has-text-color h2">
                        <i class="fas fa-award"></i>
                    </div>
                    <h5 class="font-weight-600 mt-20 mb-15 text-capitalize">Rewards and <br>Recognitions</h5>
                    <p>We offer competitive pay and benefits, and look for ways to reward excellence. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of benifits section -->



<!-- start of join-team section -->
<section id="join-team" class="section-padding pb-50 join-team-section has-shapes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40" data-aos="fade-in">
                <h2 class="section-title">Join our <strong> team</strong></h2>
                <p>Brainstaq is exploring an exciting new challenge. Help us create relevance 
                in the startup space by applying to join our team in any of our open roles. </p>
            </div>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="bg-white text-center shadow rounded p-30 mb-30">
                            <h3 class="mb-2 font-weight-bold">Rails Developer</h3>
                            <h6 class="text-black-800 mb-15">Full Time</h6>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="bg-white text-center shadow rounded p-30 mb-30">
                            <h3 class="mb-2 font-weight-bold">Lead Product Designer</h3>
                            <h6 class="text-black-800 mb-15">Full Time</h6>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="bg-white text-center shadow rounded p-30 mb-30">
                            <h3 class="mb-2 font-weight-bold">Fullstack Nodejs Developer</h3>
                            <h6 class="text-black-800 mb-15">Full Time</h6>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="bg-white text-center shadow rounded p-30 mb-30">
                            <h3 class="mb-2 font-weight-bold">Content Marketing Manager</h3>
                            <h6 class="text-black-800 mb-15">Full Time</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40" data-aos="fade-in">
                <h4 class="section-title mt-5">Ready to Apply?</h4>
                <p>Please send an email to <span><strong><%= mail_to 'hello@brainstaq.com' %></strong></span> telling us who you are, your experiences 
                and skills, and why you’re interested in that role. <br>And we'll get in touch with you.</p>
            </div>
        </div>
    </div>
    
    <div class="shape-1 shape-xs bg-secondary rounded-circle d-none d-sm-block"></div>
    <div class="shape-2 shape-xs-2 bg-primary rounded-circle d-none d-sm-block"></div>
    <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
    <div class="shape-4 shape-xs bg-secondary rounded-circle d-none d-sm-block"></div>
    <div class="shape-5 shape-xs bg-tertiary rounded-circle d-none d-sm-block"></div>
    <div class="shape-6 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
    <div class="shape-7 shape-xs-2 bg-secondary rounded-circle d-none d-sm-block"></div>
    <div class="shape-8 shape-xs-2 bg-primary rounded-circle d-none d-sm-block"></div>
</section>
<!-- end of join-team section -->