<% content_for :title, "Features" %>

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image: url(<%= image_path "banner.svg" %>)">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold">Features</h2>
        <nav class="mt-15" aria-label="breadcrumb">
          <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-black-300" %></li>
            <li class="breadcrumb-item text-primary" aria-current="page">Features</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
  <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
  <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
  <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
  <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
  <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>

<!-- start of services-section -->
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <%# <h2 class="section-title">Brainstaq <strong>Features</strong></h2> %>
                <h3 class="section-title">Explore <strong>Brainstaq</strong> features</h3>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Setup Enterprise</h3>
                    <p>Easily setup your enterprise on Brainstaq, and get instant access to a complete 
                    suite of business tools and documents already generated uniquely for your business.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fa fa-book"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Create Documents</h3>
                    <p>Create and manage your business plan, financial models, and other documents, 
                    and make informed decisions in real-time.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Social Ads</h3>
                    <p>Create and schedule social ads on major social media platforms like Facebook, 
                    Instagram, WhatsApp, Twitter and LinkedIn</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fa fa-funnel-dollar"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Crowdfund</h3>
                    <p>Share, validate, and market your ideas, projects, insights and inspiration and attract 
                    funding by engaging the power of the crowd.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fas fa-shield-alt"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Secure</h3>
                    <p>Brainstaq’s combination of automated and manual security systems protect you 
                    from unauthorized access to your details. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fa fa-comment-alt"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Instant Messaging</h3>
                    <p>Brainstaq’s instant messaging can promote collaboration. With this, you 
                    can engage with your team, and other users in real-time.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fas fa-chart-line icon" aria-hidden="true"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Business Insights</h3>
                    <p>Be alert to changes to the startup ecosystem with Brainstaq’s real-time 
                    business reports and insights – all from a single dashboard. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Business Resources</h3>
                    <p>Explore our growing collection of Brainstaq's business resources for help in supporting 
                    the continuous growth of your business.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-box">
                <div class="block p-4 p-xl-5 text-center">
                    <div class="service-icon text-center mx-auto rounded-circle">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <h3 class="font-weight-600 mt-20 mb-20">Marketplace</h3>
                    <p>Brainstaq's marketplace creates an avenue to make money by sharing your products
                    and services with thousands of internet users.</p>
                </div>
            </div>
            
            <div class="col-12"><div class="border-bottom border-md-0"></div></div>
        </div>
    </div>
</section>
<!-- end of services-section -->


  <style>
    .row {
      clear: both;
    }
  </style>