<div class="hidden lg:block" id="notice"></div>
<div class="lg:hidden" id="notice-mobile"></div>
<div class="hidden lg:flex mx-16 pt-16 mb-16 justify-between lg:items-start items-end">
  <div class="flex flex-row">
  </div>
  <div id="name-list-container" class="flex flex-col">
    <div id="name-list" class="items-center hidden lg:flex bg-white w-min"></div>
  </div>
</div>