/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require jquery-ui
 *= require social-share-button
 *= require trix
 
 */

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "style.scss";
@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

@import "./actiontext.scss";
@import "trix/dist/trix.css";

@import "selectize/dist/css/selectize";
@import "selectize/dist/css/selectize.default";

@import "invoices.scss";
// @import "responsive.scss";
@import "ionicons";

//= require actiontext

//  @import "social-share-button";
//  $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
//  @import '@fortawesome/fontawesome-free/scss/fontawesome';
//  @import '@fortawesome/fontawesome-free/scss/solid';
//  @import '@fortawesome/fontawesome-free/scss/regular';
//  @import '@fortawesome/fontawesome-free/scss/brands';
//  @import '@fortawesome/fontawesome-free/scss/v4-shims';

.flash-message {
    &.error {
        border: solid 2px #900;
        background-color: red;
    }
    &.notice {
        border: solid 2px #26722D;
        background-color: green;
    }
    color: white;
    z-index: 999;
    position: fixed;
    font-weight: bold;
    width: 20%;
    margin-top: 50px;
    margin-left: 40%;
    text-align: center;
    p {
        font-size: 80%;
        margin: 15px 0;
    }
}

.scroller {
    div {
        text-align: center;
        font-size: 30px;
    }
}

.slick-prev::before,
.slick-next::before {
    color: #000;
}

.slick-next {
    right: -5px;
}

.slick-prev {
    left: -5px;
}

.slick-next {
	right: 10px !important;
	z-index: 100;
 }

.slick-prev {
	left: 10px !important;
  z-index: 100;
 }

img {
	float: left;
}
.cat-bg {
  background-color: #ffffff !important;
  margin-top: 70px !important;
  margin-left: -200px !important;
}

//------------ Media Queries ----------------//
//-------- Homepage, header, dashboard, and profile -----//

@media (max-width: 360px) {
  .navbar-toggler {
     padding-right: 0px !important;
  }
  html, body {
    overflow-x: hidden !important;
    width: 100vw !important;
  }
  .h1 {
    font-size: 22px !important;
  }
  .breadcrumb-item {
    font-size: 12px !important;
  }
  .bd-padding {
    margin-top: -50px !important;
  }
  .search-fm {
    margin-top: 0px !important;
  }
  .col-lg-11 {
    width: 100%;
    margin-right: 0;
  }
  
  .nav-pills {
    justify-content: space-around;
  }
  
  .nav-item {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .navbar-text {
    float: right;
    margin-right: -10px !important;
    margin-top: 15px !important;
    font-size: 8px;
  }

  .flash-message {
    &.error {
      border: solid 2px #900;
      background-color: red;
    }
    &.notice {
      border: solid 2px #26722D;
      background-color: green;
    }
    color: white;
    z-index: auto;
    position: fixed;
    font-weight: bold;
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    text-align: center;
    p {
      font-size: 60%;
      margin: 5px 0;
    }
}
  .create-fm {
    float: right;
    margin-left: 10px !important;
    margin-top: 20px !important;
  }
  .create-dd .dropdown-item {
    font-size: 11px !important;
  }
  .nvb-dd .dropdown-item {
    font-size: 11px !important;
  }
  .right-sidebar {
    margin-left: 15px;
    width: 300px !important;
  }
  .user-data {
    margin-right: -5px;
    width: 300px !important;
    display: none !important;
  }
  .widget-p {
    margin: auto;
  }
  .suggestions {
    margin-right: 10px !important;
    width: 300px !important;
  }
  .main-ws-sec {
    margin-left: 10px !important;
    width: 300px !important;
  }
  .post-topbar {
    margin-left: -20px !important;
    width: 300px !important;
  }
  .posts-section {
    margin-left: -20px !important;
    width: 300px !important;
  }
  .profile-title {
    font-size: 12px !important;
  }
  .img-dt {
    width: 25px !important;
    height: 25px !important;
  }
  .project-dt {
    float: left;
    margin-left: -35px;
  }
  .prjt-name {
    font-size: 16px !important;
  }
  .amt-dt {
    display: none !important;
  }
  .cmp-st {
    font-size: 10px !important;
    margin-top: 50px !important;
  }
  .rel_count {
    float: left !important;
  }
  .main-left-sidebar {
    width: 300px !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
  }
  .user_profile {
    margin-left: 2px !important;
    width: 300px !important;
  }
  .profile-sec {
    margin-left: -25px !important;
    margin-right: 25px !important;
    margin-top: -30px !important;
    width: 324px !important;
  }
  .user-prof-name {
    font-size: 16px !important;
  }
  .tab-feed span {
    font-size: 11px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
  }
  .tab-feed ul li span {
    display: block;
    color: #b2b2b2;
    font-weight: 200 !important;
    font-size: 12px !important;
  }
  .tab-feed ul li {
    display: inline-block !important;
    margin-right: 15px !important;
    text-align: center !important;
  }
  .tab-feed.st2 ul li {
    margin-right: 10px !important;
  }
  .tab-feed ul li:last-child {
    margin-right: 0 !important;
  }
  .profile-titles {
    font-size: 8px !important;
  }
  .project-dts {
    float: left;
    margin-left: -35px !important;
  }
  .product-feed-tab {
    margin-left: 20px !important;
    width: 300px !important;
  }
  .sidebar-item {
    margin-left: 0px !important;
    width: 300px !important;
  }
  .widget-jobsss {
    // margin-right: 5px;
    margin-left: -18px !important;
    width: 300px !important;
    // display: none !important;
  }
  
  //category-dropdown
  .cat-bg {
    background-color: #ffffff !important;
    margin-top: 70px !important;
  }

  //project show page
  .project-img {
    margin-top: -10px !important;
  }
  .card-title {
    font-size: 20px !important;
  }
  .cat-sm {
    font-size: 11px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: -290px !important;
    // margin-bottom: 10px !important;
  }
  .date-text {
    font-size: 11px !important;
  }
  .card-text {
    margin-top: 5px !important;
  }
  .cardsss {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  // Brand show page
  .cd-bt {
    margin-bottom: 15px !important;
  }
  .brand-cat-sm {
    font-size: 11px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: -730px !important;
  }
  .dp-bg {
    background-color: #ffffff !important;
  }

// Business plans
  .new-biz {
    font-size: 11px !important;
    padding: 10px 12px 10px 12px !important;
    margin-left: 50px !important;
    margin-right: 105px !important;
  }
  th, td {
    font-size: 12px !important;
  }
  .bus-link {
    font-size: 14px !important;
  }
  .cp-tax {
    margin-bottom: 15px !important;
  }
}
