<!--==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <header class="section-header mt-2">
        <p style="font-size: 18px; color: #fff; margin-bottom: 0px;">
        Brainstaq simplifies the business creation process by providing tools to help you 
        validate that idea, raise funds and create personalized business documents like business plans,
        financial models, proposals, letterheads, invoices, etc.
        </p>
        <p style="margin-bottom: -50px; margin-top: -20px;">
          <%= link_to 'GET STARTED', '#', class: "btn rounded text-white", style: "font-size: 14px; font-weight: bold;" %>
        </p>
      </header>
    </div>
  </section><!-- #call-to-action -->