<!-- start footer -->
<footer class="bg-light-gray has-shapes has-bg-brash bg-brash-top " style="background-image: url(<%=image_path "footer.svg" %>)">
	<div class="container">
	
		
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="block border-top text-center content">
            Copyright &copy; <strong>Brainstaq</strong>.
            <%= Time.now.year %> 
            All rights reserved | KOBU Innovative Solutions
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="shape-1 shape-xs bg-primary rounded-circle"></div>
	<div class="shape-2 shape-sm-2 bg-tertiary rounded-circle"></div>
	<div class="shape-3 shape-sm bg-secondary rounded-circle"></div>
	<div class="shape-4 shape-xs-2 bg-tertiary rounded-circle"></div>
	<div class="shape-5 shape-sm-2 bg-secondary rounded-circle"></div>
	<div class="shape-6 shape-sm-2 bg-primary rounded-circle"></div>
</footer>
<!-- end footer -->

<!-- start scroll to top -->
<a href="#top" class="btn btn-primary scroll-to-top-btn smooth-scroll position-fixed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path id="Layer" fill="currentColor" d="M7.2 19.2L15.2 11.2C15.68 10.71 16.43 10.68 16.96 11.08L17.08 11.2L25.08 19.2L23.2 21.08L16.14 14.02L9.08 21.08L7.2 19.2Z"/></svg></a>
<!-- end scroll to top -->